{% extends "layout.html" %}
{% block content %}
<div class="row">
    <h2 class="col-12">Help page</h2>
  </div>
  <dl id="helper" class="row">
    <dt class="col-2">Fill</dt><dd class="col-10">Go to the quiz ... and fill it</dd>
    <dt class="col-2">Review</dt><dd class="col-10">Review and score answers</dd>
    <dt class="col-2">Import</dt><dd class="col-10">Load answers file</dd>
    <dt class="col-2">Export</dt><dd class="col-10">Save answers as file</dd>
    <dt class="col-2">Generate Quiz</dt><dd class="col-10">Convert questionnaire in a document</dd>
    <dt class="col-2">Generate Report</dt><dd class="col-10">From review and scoring, generate gap analysis report</dd>
  </dl>
</div>
{% endblock %}