{% extends "layout.html" %}
{% block content %}
<div class="row">
    <h2 class="col-12">Help page</h2>
</div>
<dl id="helper" class="row">
  <dt class="col-2">New</dt><dd class="col-10">Start quiz</dd>
  <dt class="col-2">Open</dt><dd class="col-10">Load answers from file (html or yml)</dd>
  <dt class="col-2">Review</dt><dd class="col-10">Review and score answers</dd>
  <dt class="col-2">Generate Report</dt><dd class="col-10">From review and scoring, generate gap analysis report</dd>
</dl>
{% endblock %}