<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/js/jquery.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}

    <title>{{title['short']}}</title>
  </head>
  <body class="container-fluid">
    <div class="row">
      <div id="menu" class="col-2">
        <div class="container-fluid">
          <div class="row"><a role="button" class="col-8 offset-2 btn" href="/">Home</a></div>
          <div class="row"><a role="button" class="col-8 offset-2 btn" href="/quiz/new">New</a></div>
          <div class="row"><a role="button" class="col-8 offset-2 btn" href="/quiz/open">Open</a></div>
          {% if review is defined %}
            <div class="row"><a role="button" class="col-8 offset-2 btn" href="/quiz/analyze">Gap Analysis</a></div>
          {% endif %}
        </div>
      </div>

      <div id="content" class="col-10">
        <div class="container-fluid">
          <div class="row"><h1 id="title" class="col-12">{{title['long']}}</h1></div>
          {% if message is defined %}
            <div class="row">
              <div class="col-12 alert alert-{{message['type']}}" role="alert">
                {% for line in message['content'] %}
                  {{line}}<br/>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>