{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-2 offset-5">
        <form id="quiz" action="/quiz/save" method="POST">
            <input type="hidden" name="quiz-version" value="{{quiz['version']}}"/>
            <input type="submit" class="btn col-12" value="Save"/>
        </form>
    </div>
    {% if review is defined %}
    <div class="col-5">
        <div class="custom-control custom-switch text-right">
            <input id="switch-review" type="checkbox" class="custom-control-input">
            <label for="switch-review" class="custom-control-label" >Swith to review</label>
        </div>
    </div>
    {% endif %}
</div>


<!-- SECTIONS NAVIGATION -->
<nav class="quiz-nav quiz-section-nav">
    <div class="nav nav-tabs border-0" role="tablist">
        {% for section in quiz['sections'] %}
            {% set class = "" %}
            {% set aria_selected = "false" %}
            {% if loop.first %}
                {% set class = "active" %}
                {% set aria_selected = "true" %}
            {% endif%}
            <a class="nav-item nav-link border border-dark border-bottom-0 {{class}}" href="#{{section['id']}}" data-toggle="tab" role="tab" aria-selected="{{aria_selected}}">{{section['name']}}</a>
        {% endfor %}
    </div>
</nav>
<!-- END OF SECTIONS NAVIGATION -->

<div class="tab-content quiz-nav">
    {% for section in quiz['sections'] %}
        <!-- SECTION CONTENT -->
        {% set class = "" %}
        {% if loop.first %}
            {% set class = "show active" %}
        {% endif %}
        <div class="tab-pane fade border border-dark {{class}}" role="tabpanel" id="{{section['id']}}">
            <!-- GROUPS NAVIGATION -->
            <nav class="quiz-nav quiz-group-nav">
                <div class="nav nav-tabs border-0" role="tablist">
                    {% for group in section['groups'] %}
                        {% set class = "" %}
                        {% set aria_selected = "false" %}
                        {% if loop.first %}
                            {% set class = "active" %}
                            {% set aria_selected = "true" %}
                        {% endif%}
                        <a class="nav-item nav-link border border-dark border-bottom-0 {{class}}" href="#{{section['id']}}-{{group['id']}}" data-toggle="tab" role="tab" aria-selected="{{aria_selected}}">{{group['name']}}</a>
                    {% endfor %}
                </div>
            </nav>
            <!-- END OF GROUPS NAVIGATION -->

            <div class="tab-content quiz-nav">
                {% for group in section['groups'] %}
                    <!-- GROUP CONTENT -->
                    {% set class = "" %}
                    {% if loop.first %}
                        {% set class = "show active" %}
                    {% endif %}
                    <div class="tab-pane fade border border-dark {{class}}" role="tabpanel" id="{{section['id']}}-{{group['id']}}">
                        <div class="container-fluid">
                            <!-- group description -->
                            <div class="row quiz-group-desc">
                                <div class="col-12">{{ group['description'] | safe }}</div>
                            </div>
                            <hr/>

                            <!-- group items -->
                            {% for item in group['items'] %}
                                {% include './item_layout/' ~ item['type'] ~ '.html' %}
                                {% include './review_layout.html' %}
                            {% endfor %}

                            <!-- group notes -->
                            <hr/>
                            <div class="row">
                                <fieldset form="quiz" class="form-group col-12">
                                    {% set name = section['id'] ~"-"~ group['id'] ~"-notes" %}
                                    {% set notes = "" %}
                                    {% if answers is defined and answers[name] is defined %}
                                        {% set notes = answers[name] %}
                                    {% endif %}
                                    <legend>Additional notes</legend>
                                    <textarea form="quiz" class="form-control" rows="3" name="{{name}}">{{notes}}</textarea>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- END OF GROUP CONTENT -->
                {% endfor %}
            </div>
        </div>
        <!-- END OF SECTION CONTENT -->
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // toggle review
        $("#switch-review").on('click', function (evt){
            $(".review-elt").toggleClass('invisible')
            $(".review-elt").toggleClass('d-none')
        })

        // control to delete row in items of type 'table'
        $(".item-table-simple").on('click', '.btn-remove-row', function (evt){
            var row = $(evt.target).parent().parent();
            var table = row.parent();
            
            // first is header, last is add button, so discard
            var nb_rows = table.children().length -2

            // ensure at least 1 row will remain
            if (nb_rows > 1) {
                row.remove();
            }
        })

        // control to add row in items of type 'table'
        $(".btn-add-row").on('click', function (evt){
            var table = $(this).parent().parent().parent()
            var rows = table.children()

            // copy last row, update id (last div is 'add' button)
            var last_row = $($(rows).get(-2))
            var last_row_id = last_row.attr('id')

            var new_row = last_row.clone()
            var new_row_id = new_row.attr('id').split('-')
            new_row_id[3] = 'l' + (rows.length - 2)
            new_row_id = new_row_id.join('-')
            new_row.attr('id', new_row_id)

            // update input names, reset values to default (last column is trash button so discard)
            columns = new_row.children()
            for (var i = 0; i < columns.length -1; i++) {
                var input = $('input', columns[i])

                // nb of input tag is 1 for text, >1 for qcm
                if (input.length==1){
                    var name = input.attr('name').split('-')
                    var col_id = name[name.length - 1]
                    input.attr('name', new_row_id + '-' + col_id)
                    input.val('')
                }else{
                    for (var j = 0; j < input.length; j++){
                        option = $(input.get(j))
                        var name = option.attr('name').split('-')
                        var col_id = name[name.length - 1]
                        option.attr('name', new_row_id + '-' + col_id)
                        if (option.attr('value') === 'not_answered'){
                            option.trigger('click')
                        }
                    }
                }
            }

            // add to DOM
            new_row.insertAfter('#' + last_row_id)
        })

    })
</script>

{% endblock %}