<div class="row">
    <div class="col-12 report-appendix-desc">
        <p>Tables below enumerate answers and comments provided for the section "{{section_answers['name']}}".</p>
    </div>
</div>
{% for gid, group_answers in section_answers['groups'].items() %}
    <div class="row">
        <div class="col-10 offset-1">
            <div class="container-fluid">
                <div class="row">
                    <table class="table">
                        <thead  class="thead-dark">
                            <tr><th colspan="2">Topic: {{group_answers['name']}}</th></tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="2">{{ group_answers['description'] | safe }}</td></tr>
                            <tr><td colspan="2"><strong>Client comments:</strong> {{ group_answers['notes']}}</td></tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="report-table-w20">Item</th>
                                <th class="report-table-w80">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elt in group_answers['answers'] %}
                                <tr>
                                    <td>{{elt['item']}}</td>
                                    <td>
                                        <!-- item is a table -->
                                        {% if 'table' in elt['type'] %}
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {% for col_title in elt['answer'][0] %}
                                                        <th>{{col_title}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in elt['answer'][1:] %}
                                                <tr>
                                                    {% for col_value in row%}
                                                        <td>
                                                            {% if col_value is string %}
                                                                {{col_value}}
                                                            {% else %}
                                                                <ul>
                                                                    {% for value in col_value %}
                                                                        <li>{{value}}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <!-- item is a qcm -->
                                        {% elif 'qcm' in elt['type'] %}
                                            <ul>
                                            {% for answer in elt['answer'] %}
                                                <li>{{answer}}</li>
                                            {% endfor %}
                                            </ul>

                                        <!-- item is a text -->
                                        {% else %}
                                            {{ elt['answer']}}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}