{% extends "layout.html" %}
{% block content %}
<div class="row"><h2 id="subtitle" class="col-12">Gap Analysis Report</h2></div>

<!-- REPORT NAVIGATION -->
<nav class="report-nav report-chapter-nav">
    <div class="nav nav-tabs border-0" role="tablist">
        <a class="nav-item nav-link border border-dark border-bottom-0 active" href="#summary" data-toggle="tab" role="tab" aria-selected="true">Summary</a>

        {% for cid, category in report_categories.items() %}
            <a class="nav-item nav-link border border-dark border-bottom-0" href="#{{cid}}" data-toggle="tab" role="tab" aria-selected="false">{{category['name']}}</a>
        {% endfor %}

        <a class="nav-item nav-link border border-dark border-bottom-0" href="#appendix" data-toggle="tab" role="tab" aria-selected="false">Appendix</a>
    </div>
</nav>

<!-- REPORT TAB CONTENT-->
<div class="tab-content report-nav">

    <!-- SUMMARY -->
    <div class="tab-pane fade border border-dark show active" role="tabpanel" id="summary">

        <!-- SUMMARY NAVIGATION -->
        <nav class="quiz-nav report-paragraph-nav">
            <div class="nav nav-tabs border-0" role="tablist">
                    <a class="nav-item nav-link border border-dark border-bottom-0 active" href="#summary-result" data-toggle="tab" role="tab" aria-selected="true">Result</a>
                    <a class="nav-item nav-link border border-dark border-bottom-0" href="#summary-visualization" data-toggle="tab" role="tab" aria-selected="false">Visual Overview</a>
                    <a class="nav-item nav-link border border-dark border-bottom-0" href="#summary-remediations" data-toggle="tab" role="tab" aria-selected="false">Main Remediations</a>
            </div>
        </nav>

        <!-- SUMMARY TAB CONTENT -->
        <div class="tab-content report-nav">
            {% include './report_summary.html' %}
        </div>
    </div>

    <!-- CATEGORIES -->
    {% for category in analysis['categories'] %}
        {% set cid = category['id'] %}
        <div class="tab-pane fade border border-dark" role="tabpanel" id="{{cid}}">
            <!-- CATEGORY NAVIGATION -->
            <nav class="quiz-nav report-paragraph-nav">
                <div class="nav nav-tabs border-0" role="tablist">
                        <a class="nav-item nav-link border border-dark border-bottom-0 active" href="#category-result" data-toggle="tab" role="tab" aria-selected="true">Result</a>
                        <a class="nav-item nav-link border border-dark border-bottom-0" href="#category-remediations" data-toggle="tab" role="tab" aria-selected="false">Remediations</a>
                        <a class="nav-item nav-link border border-dark border-bottom-0" href="#category-analysis" data-toggle="tab" role="tab" aria-selected="false">Gap Analysis</a>
                </div>
            </nav>

            <!-- CATEGORY CONTENT -->
            <div class="tab-content report-nav">
                {% include './report_category.html' %}
            </div>
        </div>
    {% endfor %}


    <!-- APPENDIX -->
    <div class="tab-pane fade border border-dark" role="tabpanel" id="appendix">
        <!-- APPENDIX NAVIGATION -->
        <nav class="quiz-nav report-paragraph-nav">
            <div class="nav nav-tabs border-0" role="tablist">
                {% for sid, section_answers in appendix.items() %}
                    {% set class = "" %}
                    {% set aria_selected = "false" %}
                    {% if loop.first %}
                        {% set class = "active" %}
                        {% set aria_selected = "true" %}
                    {% endif%}
                    <a class="nav-item nav-link border border-dark border-bottom-0 {{class}}" href="#{{sid}}" data-toggle="tab" role="tab" aria-selected="{{aria_selected}}">{{section_answers['name']}}</a>
                {% endfor %}
            </div>
        </nav>

        <!-- APPENDIX TAB CONTENT -->
        <div class="tab-content report-nav">
            {% for sid, section_answers in appendix.items() %}
                {% set class = "" %}
                {% if loop.first %}
                    {% set class = "show active" %}
                {% endif %}
                <!-- answers for the section -->            
                <div class="tab-pane fade border border-dark {{class}}" role="tabpanel" id="{{sid}}">
                    <div class="container-fluid">
                        {% include './report_appendix.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
