.debug {
    border: 1px solid red;
}

body {
    background-color: #586f7c;
}


#title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#subtitle {
    text-align: center;
}

#menu {
    background-color: #586f7c;
    margin-top: 98px;
}

#menu a {
    margin-bottom: 5px;
    background-color: #333638;
    color: #ffffff;
}

#quiz {
    margin-bottom: 10px;
}

#quiz .btn, #upload .btn {
    background-color: #333638;
    color: #ffffff;
}

#content .quiz-section-nav .nav-tabs .nav-link:not(.active) {
    color: #ffffff;
    background-color: #00263D;
    font-weight: bold;
}

#content .quiz-group-nav .nav-tabs .nav-link:not(.active) {
    color: #ffffff;
    background-color: #2e424d;
    font-weight: bold;
}

#content .quiz-nav .nav-tabs .nav-link.active {
    color: #000000;
    background-color:#E5E5E5;
    font-weight: bold;
}

#content .quiz-nav .tab-pane.active {
    background-color:#E5E5E5;
    border-radius: 5px;
    padding: 5px;
}

#content .quiz-nav .tab-pane:first-child {
    border-top-left-radius: 0;
} 

#content .quiz-group-desc p {
    margin-top: 10px;
    margin-bottom: 30px;
}

#content .report-viz {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content .report-category-nav .nav-tabs .nav-link:not(.active) {
    color: #ffffff;
    background-color: #00263D;
    font-weight: bold;
}

#content .report-nav .nav-tabs .nav-link.active {
    color: #000000;
    background-color:#E5E5E5;
    font-weight: bold;
}

#content .report-nav .tab-pane.active {
    background-color:#E5E5E5;
    border-radius: 5px;
    padding: 5px;
}

#content .report-nav .tab-pane:first-child {
    border-top-left-radius: 0;
} 

.btn-add-row, .btn-remove-row {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.btn-remove-row {
    background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-trash' fill='white' xmlns='http://www.w3.org/2000/svg'>  <path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/>  <path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/></svg>");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    width: 35px;
    height: 35px;
}

.table{
    border: 2px solid #333638;
}

.table thead tr th{
    text-align: center;
    border-style: solid;
    border-color: #333638;
    border-width: 2px;
}

.table tbody tr td{
    border-style: solid;
    border-color: #333638;
    border-width: 1px 2px;
}

.report-table-w5 {
    width: 5%
}