<div class="row">
    <fieldset form="quiz" class="form-group quiz col-12">
        {% set name = section['id'] ~"-"~ group['id'] ~"-"~ item['id'] %}

        <legend>{{item['question']}}</legend>

        {% set ns = namespace(answered="false") %}
        {% for option in item['options'] %}
            {% set checked = "" %}
            {% if answers is defined and answers[name] is defined and answers[name] == option %}
                {% set checked = "checked" %}
                {% set ns.answered = "true" %}
            {% endif %}
            <div class="form-check form-check-inline ">
                <input  form="quiz" class="form-check-input" type="radio" name="{{name}}" value="{{option}}" {{checked}}/>
                <label class="form-check-label">{{option | replace('_', ' ') | capitalize}}</label>
            </div>
        {% endfor %}

        {% set checked = "" %}
        {% if ns.answered == "false" %}
            {% set checked = "checked" %}
        {% endif %}
        <div class="form-check form-check-inline ">
            <input  form="quiz" class="form-check-input" type="radio" name="{{name}}" value="not_answered" {{checked}}/>
            <label class="form-check-label">Not Answered</label>
        </div>

    </fieldset>
</div>
{% include './review_layout.html' %}
