<div class="row">
    <fieldset form="quiz" class="form-group quiz col-12">
        <legend>{{item['question']}}</legend>
        <div class="container-fluid">
            <!-- table header -->
            <div class="row">
                {% for col in item['columns'] %}
                    <div class="col-{{col['size']}}">{{col['title']}}</div>
                {% endfor %}
            </div>

            <!-- table rows -->
            {% for idx in range(0, item['nb_rows']) %}
                <div class="row">
                    {% for col in item['columns'] %}
                        {% set name = section['id'] ~'-'~ group['id'] ~'-'~ item['id'] ~'-l'~ idx ~'-'~ col['id'] %}

                        {% if col['type'] == 'text' %}
                            {% set text = "" %}
                            {% if answers is defined and answers[name] is defined %}
                                {% set text = answers[name] %}
                            {% endif %}
                            <textarea form="quiz" class="form-control col-{{col['size']}}" rows="1" name="{{name}}" placeholder="{{col['placeholder']}}">{{text}}</textarea>
                        {% endif%}

                        {% if col['type'] == 'qcm' %}
                            <div class="col-{{col['size']}}">
                                {% set ns = namespace(answered="false") %}
    
                                {% for option in col['options'] %}
                                    {% set checked = "" %}
                                    {% if answers is defined and answers[name] is defined and answers[name] == option['value'] %}
                                        {% set checked = "checked" %}
                                        {% set ns.answered = "true" %}
                                    {% endif %}
                                    <div class="form-check form-check-inline">
                                        <input form="quiz" class="form-check-input" type="radio" name="{{name}}" value="{{option['value']}}" {{checked}}/>
                                        <label class="form-check-label">{{option['label']}}</label>
                                    </div>
                                {% endfor %}

                                {% set checked = "" %}
                                {% if ns.answered == "false" %}
                                    {% set checked = "checked" %}
                                {% endif %}
                                <div class="form-check form-check-inline ">
                                    <input  form="quiz" class="form-check-input" type="radio" name="{{name}}" value="not_answered" {{checked}}/>
                                    <label class="form-check-label">Default</label>
                                </div>
                            </div>
                        {% endif%}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
</div>